
<div class="blogItem">
    <h3> Company: <%=  job.company  %> </h3>
    <p> Start: <%=  job.start  %> </p>
    <p> End: <%=  job.end  %> </p>
    <p> Position: <%=  job.position  %> </p>
    <p> Description: <%=  job.description  %> </p>
    </a>
</div>